.*
.*/
~$*

out/
target/
**/target/
node/
node_modules/
node_modules*/
nbproject/private/
build/
nbbuild/
dist/
nbdist/
bin/
tmp/

package-lock.json
yarn.lock
local.properties

hs_err_pid*
ehthumbs.db
Thumbs.db
MANIFEST.MF

*.com
*.class
*.dll
*.exe
*.o
*.so
*.log
*.sqlite

*.zip
*.sh
*.bat
*.tmp
*.bak
*.swp
*~.nib
*.iml
*.launch
*.pydevproject
*.ctxt
*.jar
*.war
*.nar
*.ear
*.tar.gz
*.rar
*.sha1
_remote.repositories

!.asciidoctorconfig
!.editorconfig
!.babelrc
!.babelrc.*
!.eslintrc
!.eslintrc.*
!.prettierrc.*
!.prettierignore
!.stylelintrc
!.stylelintrc.*
!.esdoc.json

!.gitignore
!.github
!.vscode/

!doc/*.sql

!.mvn/
!.mvn/wrapper/maven-wrapper.jar
!.mvn/lib/*.jar

!/.yarn/releases/*.*
!/.yarn/unplugged/*.*
!/.yarn/install-state.gz

# Logs
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
!.vscode/*
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.yarn
.pnp.cjs
.pnp.loader.mjs
**/target
**/target/**/*
